.sidebar {
    background-color: #007bff; /* Основной синий цвет */
    min-height: 100vh; /* Занимает всю высоту экрана */
}

.menu-item {
    color: #ffffff; /* Белый цвет текста */
}

.menu-item:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении */
}

.submenu-label {
    color: #0727a3; /* Цвет для подменю */
}

.submenu-item:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении на элементы подменю */
}